/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# IntelliJ
.idea/

.bundle

# We do want the CI builds to fail when new dependencies ship breaking changes
# so don't checkin the lockfiles used for the build.
gemfiles/*.lock

vendor/

spec/dummy_app/log/
